body{
    background: black;
    color:#bf9000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    box-sizing:border-box;
}
h1{
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 70px;
}
p{
    font-size: 30px;
    margin-bottom:0px;
}
section{
    margin-bottom: 10px;
}
.btn{
    border: 5px solid #bf9000;
    display: inline-block;
    font-size: 30px;
    padding: 10px 30px;
    border-radius: 10px;
    width: 180px;
    height: 38px;
}
.btn-alt{
    background: #bf9000;
    color: black;
    user-select: none;
    white-space: nowrap;
}
div{
    margin-bottom: 50px;
}
.btn-alt:hover{
    background: #896700;
    border-color: #896700;
    color: black;
    cursor: crosshair;
}
h2{
    font-size: 20px;
    margin-top: -50px;
}